.react-tel-input .flag-dropdown .arrow {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.react-tel-input .search-emoji {
  display: inline-block;
  transform: rotate(270deg);
  transition: transform 0.3s ease;
  padding: 2px 2px;
}

.react-tel-input .country-list .search-box {
  width: 40%;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 8px 0;
  font-size: 18px;
}

@media (min-width: 768px) {
  .react-tel-input .country-list .search-box {
    width: 80%;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .react-tel-input .country-list .search-box {
    width: 80%;
  }
}